<div class="cont">
  <div class="row align-items-stretch">
    <div class="col-12 col-md-4 mb-4">
      <h4 class="mb-3">LATEST MODIFIED</h4>
      @if(modified!==undefined) {
      <app-home-latest-modified [modified]="modified"></app-home-latest-modified>
      }
    </div>
    <div class="d-none d-md-flex col-md-1 justify-content-center align-items-center px-0">
      <div style="width:2px; background: #35363a ; height:90%;"></div>
    </div>
    <div class="col-12 col-md-7 mb-4">
      <h4 class="mb-3">QUICK STOCK VIEW</h4>
      @if(stock!==undefined) {
      <app-home-stock-view [unprocessed]="stock"></app-home-stock-view>
      }
    </div>
  </div>
</div>