header {
    padding: 10px;
    background-color: lightblue;
}
.logo {
    width: 132px;
}
.logo:hover {
    cursor: pointer;
}
.desktop_menu {
    margin-top: 24px;
}
.desktop_menu ul {
    padding: 0;
    margin: 0;
}
.desktop_menu ul li {
    list-style-type: none;
    color: white;
}