<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm3 col-3">
                <div class="logo-container">
                    <img src="assets/wama_logo_dark.png" alt="logo" class="logo">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="menu-icon" (click)="openMenu()">
                    <i class="{{menu_icon}}"></i>
                </div>
                <div class="desktop-menu" [class.mobile-menu]="menuValue">
                    <ul>
                        <li routerLink="/home" (click)="closeMenu()">Home</li>
                        <li routerLink="/lokalizacje" (click)="closeMenu()">Lokalizacje</li>
                        <li routerLink="/magazyn" (click)="closeMenu()">Magazyn</li>
                        <li routerLink="/login" (click)="loginHandler()">{{loginText}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>