<div class="container">
  <div class="header-row">
    <span class="header-title">UNIWERSYTECKI SZPITAL KLINICZNY w Łodzi</span>
    <div class="header-actions">
      <button class="header-btn">DODAJ</button>
      <button class="header-btn">EDYTUJ</button>
    </div>
  </div>
  <div class="main-row">
    <div class="adres-box">ADRES</div>
    <div class="notatki-box">NOTATKI</div>
  </div>
  <div class="projekty-list">
    <div class="projekt-row">Projekt - Mamografia</div>
    <div class="projekt-row">Projekt - Szpital</div>
    <div class="projekt-row">Projekt - Rozbudowa</div>
  </div>
</div>
