@if (location) {
<div class="container">
  <div class="header-row">
    <span class="header-title">{{ location.name }}</span>

    <div class="header-actions">
      <app-add-project
        (refresh)="refresh($event)"
        [locationId]="locationId"
      ></app-add-project>
      <button class="header-btn">EDYTUJ</button>
    </div>
  </div>
  <div class="main-row">
    <div class="adres-box">
      adres: {{ location.address }} @if(location.tag){tag:
      <a> {{ location.tag }}</a
      >}
    </div>
    @if(location.note) {
    <div class="notatki-box">{{ location.note }}</div>
    }
  </div>
  <div class="projekty-list">
    @for(project of projects; track project._id) {
    <div class="projekt-row">{{ project.name }}</div>
    }
  </div>
</div>
} @else {
<div class="container">
  <div class="header-row">
    <span class="header-title">Brak danych lokalizacji</span>
  </div>
  <div class="main-row">
    <div class="adres-box">Nie wybrano lokalizacji lub dane nie są dostępne.</div>
  </div>
</div>
}
