<div class="layout">
  <aside class="sidebar-static">
    <div class="sidebar-static-header">
      <div class="sidebar-header-plus-align">
        <h1 class="sidebar-static-title" style="padding-left: 0.3rem;">Magazyn</h1>
        <app-plus-modal></app-plus-modal>
      </div>
    </div>
    <div class="sidebar-mobile-separator"></div>
    <app-search-bar></app-search-bar>
    <ul class="sidebar-static-list">
      <app-treebar search="" query="http://localhost:3000/device-type/list" #treebarDesktop></app-treebar>
    </ul>
  </aside>
</div>