<div class="layout">
  <aside class="sidebar-static">
    <div class="sidebar-sticky-top-block">
      <div class="sidebar-static-header">
        <div class="sidebar-header-plus-align">
          <h1 class="sidebar-static-title" style="padding-left: 0.3rem;">Magazyn</h1>
          <app-plus-modal></app-plus-modal>
        </div>
      </div>
      <div class="sidebar-mobile-separator"></div>
      <div class="sidebar-searchbar-sticky-bg">
        <app-search-bar (searchInput)="onSearch($event)"></app-search-bar>
      </div>
    </div>
    <ul class="sidebar-static-list">
  <app-treebar [search]="searchInput" [showMotherboardIcon]="true" [autoSelectFirst]="true" query="http://172.16.61.142:3000/device-type/list"
        #treebarDesktop></app-treebar>
    </ul>
  </aside>
</div>