$primary-color: #1e9497;
$dark-color: #000000;
$light-color: #ffffff;
$accent-color: #808080;
$primary-dark-color: #176d6f;
$red-color: #ff5252;


$header-clr: #1b1b1d;
$dark-bg: #1f1f22;
$sidebar-clr: #1b1b1d; //#1b1b1d; //#1f1f22; //23232b
$right-container-color: #232326;

//attempt of theme color

$border-clr: #35363a;
$light-txt: #eaeaea;
$title-txt: #f8f8f2;
$panel-bg: #292a33;
$muted-txt: #bcbcbc;
$font-clr: rgb(223, 223, 227);
