<!-- Trigger button for modal (outside modal) -->
<button class="header-btn" (click)="openModal()">DODAJ</button>

@if (showModal) {
<div class="modal-backdrop open" (click)="closeModal()"></div>
<div class="modal-custom open">
  <form class="modal-content" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h5 class="modal-title">Add Device</h5>
      <button
        type="button"
        class="close"
        (click)="closeModal()"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="mb-2">
        <input
          type="text"
          class="form-control"
          id="ip"
          [(ngModel)]="device.ip"
          name="ip"
          placeholder="IP Address"
          aria-label="IP Address"
        />
      </div>
      <div class="mb-2">
        <select
          class="form-control"
          id="deviceType"
          [(ngModel)]="device.deviceType"
          name="deviceType"
          aria-label="Device Type"
        >
          <option value="">Device Type...</option>
          @for(type of deviceTypes; track type.id) {
          <option value="{{ type.id }}">{{ type.name }}</option>
          }
        </select>
      </div>
      <div class="mb-2">
        <input
          type="text"
          class="form-control"
          id="tag"
          [(ngModel)]="device.tag"
          name="tag"
          placeholder="Tag"
          aria-label="Tag"
        />
      </div>
      <div class="mb-2">
        <input
          type="text"
          class="form-control"
          id="macAddr"
          [(ngModel)]="device.macAddr"
          name="macAddr"
          placeholder="MAC Address"
          aria-label="MAC Address"
        />
      </div>
      <div class="mb-2">
        <input
          type="text"
          class="form-control"
          id="serialNr"
          [(ngModel)]="device.serialNr"
          name="serialNr"
          placeholder="Serial Number"
          aria-label="Serial Number"
        />
      </div>
      <div class="mb-2">
        <input
          type="text"
          class="form-control"
          id="serverAddress"
          [(ngModel)]="device.serverAddress"
          name="serverAddress"
          placeholder="Server Address"
          aria-label="Server Address"
        />
      </div>
      <div class="mb-2">
        <input
          type="text"
          class="form-control"
          id="note"
          [(ngModel)]="device.note"
          name="note"
          placeholder="Note"
          aria-label="Note"
        />
      </div>
      <div class="mb-2">
        <input
          type="text"
          class="form-control"
          id="pinIfButton"
          [(ngModel)]="device.pinIfButton"
          name="pinIfButton"
          placeholder="Pin (if button)"
          aria-label="Pin (if button)"
        />
      </div>
      <div class="mb-2">
        <input
          type="text"
          class="form-control"
          id="remoteAccessId"
          [(ngModel)]="device.remoteAccessId"
          name="remoteAccessId"
          placeholder="Remote Access ID"
          aria-label="Remote Access ID"
        />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
}
