<div class="magazyn-main-flex">
  <div class="left-sidebar">
    <app-magazyn-sidebar></app-magazyn-sidebar>
  </div>
  <div class="right-component">
    @if(!secondView) {
      @if(id==="") {
        <app-magazyn-right-comp
          [idDummy]="id"
          (idOut)="deviceList($event)"
          (showSecond)="showSecondPanel()"
        ></app-magazyn-right-comp>
      } @else {
        <p>dvsfdverbrtgeracwaecw{{ id }}</p>
      }
    } @else {
      <app-magazyn-right-second />
    }
  </div>
</div>
