@import 'global.scss';

.magazyn-main-flex {
  display: flex;
  height: calc(100vh - 64px);
}
// .left-sidebar {
//   /* Sidebar width can be adjusted as needed */
// }
.right-component {
  flex: 1;
  background: #232326;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
  border-top: 1.5px solid $border-clr;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.22);
}