<div class="layout">
  <aside class="sidebar-static">
    <div class="sidebar-static-header">
      <div class="sidebar-header-plus-align">
        <h1 class="sidebar-static-title" style="padding-left: 0.3rem;">Lokalizacje</h1>
        <app-plus-modal-lokal></app-plus-modal-lokal>
      </div>
    </div>
    <div class="sidebar-mobile-separator"></div>

    <ul class="sidebar-static-list">
      <app-search-bar (searchInput)="onSearch($event)"></app-search-bar>
      <app-treebar [search]="searchInput"></app-treebar>
    </ul>
  </aside>
</div>