<app-header></app-header>
    <div class="container py-5">
      <div class="row align-items-stretch">
        <div class="col-12 col-md-4 mb-4">
          <h4 class="mb-3">LATEST MODIFIED</h4>
          <app-home-latest-modified></app-home-latest-modified>
        </div>
        <div class="d-none d-md-flex col-md-1 justify-content-center align-items-center px-0">
          <div class="vertical-divider"></div>
        </div>
        <div class="col-12 col-md-7 mb-4">
          <h4 class="mb-3">QUICK STOCK VIEW</h4>
          <app-home-stock-view></app-home-stock-view>
        </div>
      </div>
    </div>