<i class="bi bi-folder-plus magazyn-plus" title="Dodaj magazyn" (click)="openModal()"></i>

@if (showModal) {
  <div class="modal-backdrop open" (click)="closeModal()"></div>
  <div class="modal-custom open">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dodaj lokalizacje</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #deviceTypeForm="ngForm" (ngSubmit)="onSubmit(deviceTypeForm)">
        <div class="modal-body">
          <input name="name" [(ngModel)]="formData.name" placeholder="Nazwa" required class="form-control mb-2">
          <input name="tag" [(ngModel)]="formData.tag" placeholder="Tag" required class="form-control mb-2">
          <input name="address" [(ngModel)]="formData.address" placeholder="Adres" class="form-control mb-2">
          <input name="note" [(ngModel)]="formData.note" placeholder="Notatka" class="form-control mb-2">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Anuluj</button>
          <button type="submit" class="btn btn-primary" [disabled]="deviceTypeForm.invalid">Zapisz</button>
        </div>
      </form>
    </div>
  </div>
}